<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Prelude.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>65353EB1236992F300377FAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65353EC7236992F400377FAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65353F20236ADD4D00377FAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65353F28236ADD4D00377FAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
